:root {
  // themes color
  /*--color-primary: #FF014F;
    --color-primary-alt: #ff014dd9;
    --color-primary-2nd: #FF494A;
    --color-primary-3rd: #FDC448;
    --color-primary-4th: #0071ff;
    --color-secondary: #060606;
    --color-white:#ffffff;
    

    --color-gray: #9F9F9F;
    --color-gray-2: #141414;
    --color-subtitle: #f9004d;*/

  --color-primary: #ff0000;
  --color-primary-alt: #ff0101d9;
  --color-primary-2nd: #ff494a;
  --color-primary-3rd: #fdc448;
  --color-primary-4th: #0071ff;
  --color-secondary: #060606;
  --color-white: #ffffff;

  --color-gray: #9f9f9f;
  --color-gray-2: #141414;
  --color-subtitle: #f9000c;

  // background-color
  --background-color-1: #24243557;
  --background-color-2: #13131d;
  --background-color-3: #151521;
  --background-color-4: #242435;
  --background-color-5: #edf5ff;
  --color-card: #1b1b1c;

  // color gradient
  --gradient-box: linear-gradient(to right, #5237f9, #ff014f);

  --gradient-one: linear-gradient(to right bottom, #e42032, #1273eb);
  --gradient-two: linear-gradient(to right, #ed145b, #4a11eb);
  --gradient-three: linear-gradient(to right, #03041c, #0612b3);
  --text-gradient-one: linear-gradient(to right, #e42032, #4a11eb);

  // typo Color
  --color-heading: #ffffff;
  --color-body: #9f9f9f;
  --color-dark: #1d1d1d;

  // text extra color
  --color-text-1: #dedede;
  --color-light-heading: #181c32;
  --color-light-body: #65676b;
  --color-border-white: #00000024;

  // Gery Colors
  --color-midgray: #878787;
  --color-light: #e4e6ea;
  --color-lighter: #ced0d4;
  --color-lightest: #f0f2f5;
  --color-border: #ffffff14;
  --color-white: #ffffff;
  --color-white-75: rgba(255, 255, 255, 0.75);

  // notify Colors
  --color-success: #3eb75e;
  --color-danger: #ff0003;
  --color-warning: #ff8f3c;
  --color-info: #1ba2db;

  //Social icon colors
  --color-facebook: #3b5997;
  --color-twitter: #1ba1f2;
  --color-youtube: #ed4141;
  --color-linkedin: #0077b5;
  --color-pinterest: #e60022;
  --color-instagram: #c231a1;
  --color-vimeo: #00adef;
  --color-twitch: #6441a3;
  --color-discord: #7289da;

  // Font Family
  --font-primary: "Rajdhani", sans-serif;
  --font-secondary: "Rubik", sans-serif;
  --font-three: "fontawesome";

  // Font weight
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;

  // Font weight
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;

  --border-width: 2px;
  --radius: 4px;

  //transition easing
  --transition: all 0.4s ease-in-out;

  //Fonts Size
  --font-size-b1: 16px;
  --font-size-b2: 18px;
  --font-size-b3: 22px;

  //Line Height
  --line-height-b1: 1.75;
  --line-height-b2: 1.6;
  --line-height-b3: 1.7;

  // Heading Font
  --h1: 60px;
  --h2: 36px;
  --h3: 27px;
  --h4: 24px;
  --h5: 20px;
  --h6: 18px;
}

// Layouts Variation
$smlg-device: "only screen and (max-width: 1199px)";
$extra-device: "only screen and (min-width: 1600px) and (max-width: 1919px)";
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$lg-layout: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm-layout: "only screen and (max-width: 767px)";
$large-mobile: "only screen and (max-width: 575px)";
$small-mobile: "only screen and (max-width: 479px)";
